/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  background: #fff;
}

body,
.smooth-container {
  scroll-behavior: smooth
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media only screen and (min-width: 320px) {
  section:nth-of-type(2n+1) {
    background-color: #00d1b2;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    color: white;
    transform: skew(0deg, -2deg);
  }
  .odd {
    transform: skew(0deg, 2deg);
  }
  a {
    color: black;
  }
  #particles-js {
    margin-top: -2em;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transform: skew(0deg, -2deg);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
  }
  .title {
    color: black;
    font-size: 3em;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -30%);
    text-transform: uppercase;
    font-weight: bold;
  }
  .intro {
    position: relative;
    z-index: -1;
  }
  article {
    width: 90%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  .feature__block {
    width: 100%;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .block {
    text-align: center;
  }
  .swap a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
  }
  .swap img {
    height: 5em;
  }
  header {
    display: none;
    position: fixed;
    z-index: 2;
    color: #007562;
    background-color: #00D1B2;
    width: 100%;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    

  }
  .open {
    display: block;
    margin-top: 2em;
    left: 0;
    top: 0;
    height: 100vh;
    margin-top: 0;
  }
  .open .logo {
    position: absolute;
    left: 50%;
    top: 1em;
    transform: translateX(-50%);
  }
  header nav {
    text-align: center;
  }
  header ul {
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -120%)
  }
  header li {
    list-style: none;
    padding: 1em;
  }
  header nav a {
    font-size: 1.4em;
    color: white;
  }
}

.mobile {
  display: block;
  position: fixed;
  z-index: 3;
  font-size: 1.4em;
  color: black;
  right: 1em;
  top: 1em;
}

.logo {
  background-image: url(../img/logo_alt.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 6em;
  width: 6em;
  display: block;
  position: relative;
}

.feature-img {
  width: 4em;
  height: 4em;
  display: block;
}

.hero {
  position: relative;
}

.odd a {
  color: white;
}

.blocktitle {
  text-align: center;
  font-size: 2.5em;
}

.subtitle {
  text-align: center;
}

.wallets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wallets a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.wallets img {
  height: 3em;
  width: 3em;
  margin-bottom: 1em;
  display: block;
}

.resources {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.resources a {
  display: block;
  font-size: 1.3em;
}

.questions {
  display: flex;
  flex-wrap: wrap;
}

.question {
  width: 100%;
  background-color: #00d1b2;
  margin-bottom: 1em;
  margin: 1em;
  padding: 1em;
  color: white;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.question h3 {
  margin-top: 0;
}

footer {
  background-color: #02af93;
  text-align: center;
  box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.2);
  margin-top: 4em;
}

.footer__nav ul {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 1em;
  flex-wrap: wrap;
}

.footer__nav li {
  list-style: none;
  padding: 1em 2em;
}

.footer__nav a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  section:not(:first-of-type) {
    margin-top: 4em;
    margin-bottom: 2em;
  }
  article {
    width: 70%;
  }
  .scroll {
    background-color: rgb(0, 209, 178);
    padding: 4em 3em;
    transition: 0.3s all ease;
  }
  .scroll .logo {
    height: 4em;
    width: 4em;
  }
  .header__nav {
    margin-left: auto;
  }
  .header__nav ul {
    width: 100%;
    transform: translate(-50%, -120%) skew(0,2deg);
    margin-top: 2em;
  }
  .header__nav li {
    list-style: none;
    padding: 0.5em 1em;
    display: inline;
  }
  header nav a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1em;
  }
  nav a:hover {
    color: white;
    text-decoration: none;
    background-color: #00d1b25e;
  }
  header {
    display: flex;
    justify-content: flex-end;
    transform: translate(0, 0) skew(0deg, -2deg);
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    height: 0px;
    margin-top: -2em;
    padding: 4em 3em;
    width: unset;
  }
  .title {
    font-size: 6em;
  }
  .feature__block {
    width: calc(33% - 2em);
  }
  .question {
    width: calc(50% - 4em);
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}